<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a routerLink="/" class="navbar-brand">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/company" *ngIf="isAuthenticated">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/jobs" *ngIf="isAuthenticated">Job</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" *ngIf="isAuthenticated">Profile</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuthenticated">
        <a routerLink="/auth">Authenticate</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" *ngIf="isAuthenticated">
        <a style="cursor: pointer;" routerLink="/" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
